In [4]:
%load_ext autoreload
%autoreload 2

import numpy as np
import pandas as pd
import pandas_bokeh

import polygon_backfill as pb
import market_cluster as mc
import s3_datasets as s3d
import filters as ft
import local_backfill as lb

symbol='SPY'
date='2020-08-27'

result_path="/Users/bobcolner/QuantClarity/data"

# .plot_bokeh(kind='hist', bins=50, sizing_mode="scale_height", disable_scientific_axes=True)
# df.style.background_gradient(cmap='coolwarm', axis=None, vmin=-1, vmax=1)  # 'Blues', 'coolwarm', 'RdBu_r' & 'BrBG' are other good diverging colormaps
# pd.set_option('precision', 2)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
lb.backfill_date_tofile(symbol, date, tick_type='trades', result_path='/Users/bobcolner/QuantClarity/pandas-polygon/data')

In [ ]:
df.read_feather(result_path+'')

In [3]:
# get data from polygon API 
trades = pb.get_ticks_date(symbol, date, tick_type='trades')

Downloaded:  50000 SPY ticks; latest time(NYC):  2020-08-27 09:59:58.018944965-04:00
Downloaded:  50000 SPY ticks; latest time(NYC):  2020-08-27 10:52:59.402667296-04:00
Downloaded:  50000 SPY ticks; latest time(NYC):  2020-08-27 12:02:41.225306880-04:00
Downloaded:  50000 SPY ticks; latest time(NYC):  2020-08-27 12:57:59.437173373-04:00
Downloaded:  50000 SPY ticks; latest time(NYC):  2020-08-27 14:11:44.146062-04:00
Downloaded:  50000 SPY ticks; latest time(NYC):  2020-08-27 15:27:50.297643264-04:00
Downloaded:  50000 SPY ticks; latest time(NYC):  2020-08-27 16:00:44.025299867-04:00
Downloaded:  6914 SPY ticks; latest time(NYC):  2020-08-27 20:00:00.007891712-04:00

In [4]:
df = pb.ticks_to_df(trades, tick_type='trades')

In [51]:
jma = ft.appy_jma_filter(df.price)

In [52]:
df['jma'] = jma

In [60]:
sum(df.jma.isna())

7

In [64]:
df2=df
df2['condition'] = df.condition.astype('str')

In [75]:
dff = ft.add_filters(df, 'price')

In [76]:
dff

,sequence,trade_id,exchange_id,price,size,condition,green,irregular,blank,afterhours,exchange_dt,sip_dt,jma,med_smooth5,med_filter5,med_filter7,jma_filter3,jma_filter7,jma_filter9
0,114301,52983525027892,11,347.600006,10,"[14, 12, 37, 41]",True,False,False,True,2020-08-27 08:00:12.018926592+00:00,2020-08-27 08:00:12.018956800+00:00,NaN,347.559998,347.600006,347.600006,NaN,NaN,NaN
1,114401,52983525027893,11,347.559998,800,"[14, 12, 41]",True,False,False,True,2020-08-27 08:00:26.333640448+00:00,2020-08-27 08:00:26.333673472+00:00,NaN,347.559998,347.580002,347.580002,NaN,NaN,NaN
2,114501,52983525027894,11,347.559998,200,"[14, 12, 41]",True,False,False,True,2020-08-27 08:00:26.333651712+00:00,2020-08-27 08:00:26.333677824+00:00,NaN,347.559998,347.559998,347.559998,NaN,NaN,NaN
3,115101,52983525027895,11,347.500000,1,"[14, 12, 37, 41]",True,False,False,True,2020-08-27 08:00:57.635460096+00:00,2020-08-27 08:00:57.635490816+00:00,NaN,347.500000,347.559998,347.559998,348.049444,NaN,NaN
4,116001,52983525027896,11,347.480011,500,[12],False,False,False,True,2020-08-27 08:01:05.875803904+00:00,2020-08-27 08:01:05.875837440+00:00,NaN,347.489990,347.559998,347.559998,347.705262,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356902,76792901,62880020645230,12,349.260010,109,"[14, 12, 41]",True,False,False,True,2020-08-27 23:59:51.715739488+00:00,2020-08-27 23:59:51.716082944+00:00,349.259975,349.260010,349.260010,349.260010,349.260012,349.259975,349.259707
356903,76793001,52983526554174,8,349.239990,2,"[12, 37, 41]",True,False,False,True,2020-08-27 23:59:51.792339+00:00,2020-08-27 23:59:51.792589568+00:00,349.253385,349.250000,349.260010,349.260010,349.244701,349.253385,349.255361
356904,76793101,52983558915400,11,349.250000,2,"[12, 37]",False,False,False,True,2020-08-27 23:59:55.296001792+00:00,2020-08-27 23:59:55.296028672+00:00,349.250403,349.239990,349.260010,349.260010,349.248301,349.250403,349.252266
356905,76804201,52983558915640,11,348.329987,0,"[38, 41]",True,True,False,False,2020-08-28 00:00:00.007891712+00:00,2020-08-28 00:00:00.007917824+00:00,348.944370,348.784988,349.250000,349.260010,348.546149,348.944370,349.041848
356906,76804202,52983558915641,11,348.329987,825000,[15],False,True,False,False,2020-08-28 00:00:00.007891712+00:00,2020-08-28 00:00:00.007917824+00:00,348.654289,348.329987,349.239990,349.250000,348.360086,348.654289,348.790489

In [72]:
df2[df2.duplicated(subset=['sip_dt','exchange_dt','price','size'], keep=False)].sort_values(['sip_dt','sequence'])

,sequence,trade_id,exchange_id,price,size,condition,green,irregular,blank,afterhours,exchange_dt,sip_dt,jma
198,144301,52983525028694,11,347.000000,100,[12],False,False,False,True,2020-08-27 09:27:37.474464256+00:00,2020-08-27 09:27:37.474511872+00:00,347.004257
199,144302,52983525028912,11,347.000000,100,[12],False,False,False,True,2020-08-27 09:27:37.474464256+00:00,2020-08-27 09:27:37.474511872+00:00,347.001796
301,157401,52983525029200,11,347.299988,100,"[14, 12, 41]",True,False,False,True,2020-08-27 10:12:31.657002496+00:00,2020-08-27 10:12:31.657032448+00:00,347.288220
302,157402,52983525029201,11,347.299988,100,"[14, 12, 41]",True,False,False,True,2020-08-27 10:12:31.657002496+00:00,2020-08-27 10:12:31.657032448+00:00,347.293225
353,164101,62879130274111,12,347.350006,100,"[14, 12, 41]",True,False,False,True,2020-08-27 10:31:17.064386890+00:00,2020-08-27 10:31:17.064732672+00:00,347.350006
...,...,...,...,...,...,...,...,...,...,...,...,...,...
356595,76746702,52983558914615,11,349.130005,100,[12],False,False,False,True,2020-08-27 23:45:01.206260736+00:00,2020-08-27 23:45:01.206285312+00:00,349.130081
356659,76754101,62880020585799,12,349.160004,100,"[14, 12, 41]",True,False,False,True,2020-08-27 23:45:29.955247792+00:00,2020-08-27 23:45:29.955597824+00:00,349.159423
356660,76754102,62880020585800,12,349.160004,100,"[14, 12, 41]",True,False,False,True,2020-08-27 23:45:29.955247792+00:00,2020-08-27 23:45:29.955597824+00:00,349.159848
356707,76760902,52983558914865,11,349.179993,500,"[14, 12, 41]",True,False,False,True,2020-08-27 23:46:18.867369472+00:00,2020-08-27 23:46:18.867406848+00:00,349.174088
356708,76760903,52983558914866,11,349.179993,500,"[14, 12, 41]",True,False,False,True,2020-08-27 23:46:18.867369472+00:00,2020-08-27 23:46:18.867406848+00:00,349.177308

In [ ]:
df[df.afterhours==True].sip_dt.hist(bins=100, figsize=[20,7])

In [14]:
df = df.sort_values('sip_dt')

In [15]:
dff = pb.add_filters(df, 'price')

In [24]:
f = ft.appy_jma_filter(df['price'], length=3, phase=50, power=2)

In [25]:
f2 = ft.appy_jma_filter2(df['price'], length=3, phase=50, power=2)

In [30]:
f[0:5]

[None, None, None, 183.17628627070985, 182.9807705841719]

In [31]:
f2[0:5]

[None, None, None, 182.9807705841719, 182.8926106876742]

In [18]:
dff[0:12]

,sequence,trade_id,exchange_id,price,size,condition,green,irregular,blank,afterhours,exchange_dt,sip_dt,med_smooth3,med_filter5,med_filter7,jma_filter3,jma_filter5,jma_filter7
0,412401,52983525027889,11,182.990005,93,"[12, 37]",False,False,False,True,2020-08-27 08:00:00.010972160+00:00,2020-08-27 08:00:00.011008512+00:00,182.995003,182.990005,182.990005,NaN,NaN,NaN
1,412501,52983525027890,11,183.000000,1,"[12, 37]",False,False,False,True,2020-08-27 08:00:03.924153088+00:00,2020-08-27 08:00:03.924183040+00:00,182.990005,182.995003,182.995003,NaN,NaN,NaN
2,413101,52983525027891,11,182.970001,10,"[14, 12, 37, 41]",True,False,False,True,2020-08-27 08:01:53.674833664+00:00,2020-08-27 08:01:53.674867712+00:00,182.970001,182.990005,182.990005,NaN,NaN,NaN
3,413701,52983525027892,11,182.869995,100,"[14, 12, 41]",True,False,False,True,2020-08-27 08:02:51.519661056+00:00,2020-08-27 08:02:51.519690496+00:00,182.869995,182.980003,182.980003,183.176286,NaN,NaN
4,413801,52983525027893,11,182.860001,1,"[14, 12, 37, 41]",True,False,False,True,2020-08-27 08:03:02.877552896+00:00,2020-08-27 08:03:02.877580544+00:00,182.860001,182.970001,182.970001,182.980771,NaN,NaN
5,413901,52983525027894,11,182.850006,500,"[14, 12, 41]",True,False,False,True,2020-08-27 08:03:03.073958912+00:00,2020-08-27 08:03:03.073981696+00:00,182.850006,182.869995,182.919998,182.892611,183.496395,NaN
6,414001,52983525027895,11,182.839996,500,"[14, 12, 41]",True,False,False,True,2020-08-27 08:03:04.078968064+00:00,2020-08-27 08:03:04.078993920+00:00,182.839996,182.860001,182.869995,182.855488,183.222911,NaN
7,414301,52983525027896,11,182.750000,1,"[12, 37]",False,False,False,True,2020-08-27 08:05:08.252030976+00:00,2020-08-27 08:05:08.252058624+00:00,182.750000,182.850006,182.860001,182.775525,182.997489,183.726742
8,414401,52983525027897,11,182.740005,40,"[12, 37]",False,False,False,True,2020-08-27 08:05:08.384033536+00:00,2020-08-27 08:05:08.384057600+00:00,182.740005,182.839996,182.850006,182.746554,182.863097,183.406413
9,414501,52983525027905,11,182.740005,60,"[12, 37]",False,False,False,True,2020-08-27 08:05:16.469461760+00:00,2020-08-27 08:05:16.469490944+00:00,182.740005,182.750000,182.839996,182.740815,182.796137,183.161228
10,414601,52983525027906,11,182.740005,100,[12],False,False,False,True,2020-08-27 08:05:16.469961216+00:00,2020-08-27 08:05:16.469981952+00:00,182.740005,182.740005,182.750000,182.740027,182.765285,182.996238
11,414701,52983525027907,11,182.740005,100,[12],False,False,False,True,2020-08-27 08:05:16.470442752+00:00,2020-08-27 08:05:16.470463488+00:00,182.740005,182.740005,182.740005,182.739976,182.751440,182.892348

In [12]:
df.loc[df.condition.isna(), 'condition'] = np.array([])

,sequence,trade_id,exchange_id,price,size,condition,green,irregular,blank,afterhours,exchange_dt,sip_dt
5828,2213601,71675225460296,4,185.110001,100,NaN,False,False,True,False,2020-08-27 13:30:00.259000+00:00,2020-08-27 13:30:00.261807616+00:00
5844,2222501,52983525166929,11,185.110001,100,NaN,False,False,True,False,2020-08-27 13:30:00.294908416+00:00,2020-08-27 13:30:00.294934272+00:00
5845,2222601,52983525166930,11,185.110001,300,NaN,False,False,True,False,2020-08-27 13:30:00.294908416+00:00,2020-08-27 13:30:00.294938880+00:00
5849,2223401,71675225460815,4,185.067795,200,NaN,False,False,True,False,2020-08-27 13:30:00.042000+00:00,2020-08-27 13:30:00.296814080+00:00
5850,2223901,71675225460817,4,185.070801,1300,NaN,False,False,True,False,2020-08-27 13:30:00.042000+00:00,2020-08-27 13:30:00.297385216+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
124638,86815302,52983543452978,11,181.279999,217,NaN,False,False,True,False,2020-08-27 19:59:59.006330624+00:00,2020-08-27 19:59:59.006357248+00:00
124651,86828801,52983543452999,11,181.289993,600,NaN,False,False,True,False,2020-08-27 19:59:59.900623104+00:00,2020-08-27 19:59:59.900649728+00:00
124653,86833801,52983543453009,11,181.279999,300,NaN,False,False,True,False,2020-08-27 19:59:59.996722688+00:00,2020-08-27 19:59:59.996749568+00:00
124654,86833901,52983543453010,11,181.279999,200,NaN,False,False,True,False,2020-08-27 19:59:59.996722688+00:00,2020-08-27 19:59:59.996753920+00:00
124655,86833902,52983543453011,11,181.279999,2500,NaN,False,False,True,False,2020-08-27 19:59:59.996722688+00:00,2020-08-27 19:59:59.996753920+00:00

In [ ]:

df = df[df['irregular'] == False].reset_index(drop=True)

df = add_outlier_metrics(df, window_len)

In [ ]:
# df[(df.afterhours==False) & (df.irregular==False)].sip_dt.hist(bins=100, figsize=[20,7])

# df[(df.afterhours==False) & (df.irregular==False)].price.plot(figsize=[20,7])

# df[(df.afterhours==False) & (df.irregular==False) & (~df.condition.isna())].price.plot(figsize=[20,7])

df[(df.afterhours==False) & (df.irregular==False) & (~df.condition.isna())][0:12]

In [ ]:
df['cond_str'] = df.condition.astype('str')

In [ ]:
dups = df.duplicated(keep=False, subset=['sequence', 'trade_id', 'exchange_id', 'price', 'size', 'cond_str', 'exchange_dt'])

df[dups].sort_values(['sequence','sip_dt','exchange_dt'], ascending=False)

In [ ]:
df[df.afterhours==False].cond_str.value_counts() / len(df)

In [ ]:
df.sort_values(['sequence','sip_dt','exchange_dt'], ascending=False)[0:12]

In [ ]:
jma = ft.appy_jma_filter(df.price, length=7)

In [ ]:
df[df.irregular==False]['sequence'].plot(figsize=[20,7])

In [ ]:
df.exchange_dt.plot(figsize=[20,7])

In [ ]:
# get data from s3
clean_df, bad_df = s3d.get_s3_df(symbol, date)

# list_s3_symbol('SPY')
df = s3d.get_s3_df('GLD', '2020-08-27', columns=['exchange_epoch', 'price', 'size', 'condition'])
# df = s3d.get_s3_df(symbol='SPY', date='2020-08-28', columns=['exchange_epoch', 'price', 'size', 'condition'])

# df = pd.read_feather('data.feather', columns=['exchange_epoch', 'price', 'size', 'condition'])
# df['date_time'] = pd.to_datetime(df.exchange_epoch)

In [ ]:
# get local market daily data
mdf = pd.read_parquet('data/mdf.parquet')

sdf = mdf[mdf.symbol=='SPY']

In [ ]:
### apply jma filtering

jma = flt.appy_jma_filter(sdf.vwap.values, length=10, phase=60, power=2)

sdf['jma'] = jma
sdf[['vwap','jma']].plot_bokeh(sizing_mode="scale_height")

In [ ]:
### market clustering

# %time df = read_market_daily(result_path)
%time mdf = pd.read_parquet('data/mdf.parquet')

%time npdf, sharpe_ratios = mc.normalize_market_df(mdf)

# %time npdf_resid = colwise_linreg(npdf)
%time npdf_resid = pd.read_parquet('data/npdf_resid.parquet')

# %time par_cor_mat = npdf_resid.corr()
%time resid_par_cor_mat = pd.read_parquet('data/partial_cor_mat.parquet')

%time details_df = pd.read_parquet('data/details_df.parquet')

# cluster_lables = cluster_sim_matrix(similarity=resid_par_cor_mat.abs())
%time cluster_lables = pd.read_parquet('data/cluster_lables.parquet')

# symbol_meta = join_symbol_data(details_df, cluster_lables, sharpe_ratios, mdf)
%time symbol_meta = pd.read_parquet('data/symbol_meta.parquet')

# cluster_coheasion = mc.get_cluster_coheasion(sim_df=resid_par_cor_mat.abs(), symbol_meta=symbol_meta, cluster_col='cluster_n200')

In [ ]:
symbol_meta['liquidy_rank'] = symbol_meta.groupby('cluster_n200')['daily_avg_dollar_volume'].rank(method='first')

symbol_meta = symbol_meta.sort_values(['cluster_n200', 'liquidy_rank']).reset_index()

In [ ]:
by_cluster = symbol_meta.groupby('cluster_n200')
result = []
for cluster, frame in by_cluster:
    counts = dict(frame['sector'].value_counts())
    counts.pop('', None)  # drop symbols w/o sector/industry info
    result.append(counts)

cluster_sec = pd.DataFrame(result)    
cluster_sec = cluster_sec.drop(columns=['Finance'])
cluster_sec_pct = cluster_sec.apply(lambda x: 100 * x / float(x.sum()), axis=1)

In [ ]:
cluster_sec_pct.style.background_gradient(cmap='coolwarm', axis=0)

In [ ]:
# n += 1
n = 61
print(n)
symbol_meta[symbol_meta.cluster_n200==n].sector.value_counts()

In [ ]:
sym_clust = symbol_meta[symbol_meta.cluster_n200==n]
sym_clust